.Derecha{
  margin-top: 20px;
  margin-left: 150px;
}

.Izquierda{
  float: right;
  padding-right: 50px;
}

.titulo{
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 120px 300px;
  margin-left: 20px;
  grid-gap: 10px;
}