.gridCheckBox{
    display: grid;
    grid-template-rows: auto min-content auto;
}

.grid-element{
    grid-column: 2;
    text-align: left;
}

.textArea2{
    width: 75%;
    height: 160px;
    resize: none;
}

.todo{
    text-align: center;
}

